.text {
  display: none;
}

 .elephant {
  display: none;
}

/* #elephantText {
  display: none;
}

.tiger {
  display: none;
}

#tigerText {
  display: none;
}

.sloth {
  display: none;
}

#slothText {
  display: none;
} */ 
