.text {
  text-align: center;
}

.elephant {
  display: none;
}
#elephantText {
  display: none;
}

.tiger {
  display: none;
}

#tigerText {
  display: none;
}

.sloth {
  display: none;
}

#slothText {
  display: none;
}
